// Colors

$primary-cyan: hsl(179, 62%, 43%);
$primary-bright:hsl(71, 73%, 54%);

$neutral-gray: hsl(204, 43%, 93%);
$neutral-blue: hsl(218, 22%, 67%);


// Font-sizes

$title: 35px;
$subtitle: 20px;
$content: 16px;

// Font-styles
$font: 'Karla', sans-serif;
$weight-bg: 700;
$weight-md: 400;


// margin-padding
$mg-bg: 1.5rem;
$mg-md: 1rem;

$pd-bg: 1.5rem;
$pd-md: 1rem;
$pd-sm: 0.5rem;


// borders
$border-bg: 2.5px;
$border-md: 1px;
$border-sm: 0.5px;

$border-radius: 5px;

// debuger
$debug-border: 1px solid red;